# Network config (optional; using defaults from dapp-kit if unset)
# VITE_SUI_NETWORK=devnet|testnet|mainnet

# Contract identifiers
VITE_CONTRACT_PACKAGE_ID=0x23afd63a5cd674ed90e24b8c69da3fdc2996d97dfea470c1d5e301fc655fe179
VITE_CONTRACT_MODULE_NAME=sui_nft_marketplace
VITE_CONTRACT_MARKETPLACE_ID=0x6bc5e931c750fccaf577559fd46d02859eac5f3dcf459282ca41038392f5e1e6
VITE_ADMIN_ADDRESS=0xc835ecbb489cdfd4dd4dc80608a8ca5cab4df5b8c545ebe549f173aa9ce1e3a7
